* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fffffe;
  position: sticky;
  top: 0%;
  width: 100%;
  box-shadow: 10px 0px 10px black;
  z-index: 10;
}

.navbar .left-nav {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo img {
  width: 60px;
  height: 60px;
  margin: 0px 16px;
}

.navbar .search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 16px;
}

.navbar .search-box {
  width: 50%;
  height: 34px;
  margin-right: 0.5rem;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-radius: 18px;
  outline: none;
  font-size: 15px;
}

.navbar .search-btn {
  height: 34px;
  padding: 0px 10px;

  background-color: #272343;
  color: #fffffe;
  border: 1px solid transparent;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.navbar .search-btn:hover {
  color: #272343;
  background-color: #fff;
  border: 1px solid #272343;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: background-color 0.5s;
}

.navbar .navbar-links a {
  margin-right: 12px;
  font-size: 18px;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
  color: orange;
  cursor: pointer;
}

.navbar .navbar-links a:hover {
  color: rgb(155, 161, 161);
}

.navbar .right-nav {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-right: 10px;
}

.navbar .username-wrapper {
  margin-right: 16px;
}

.navbar .username-wrapper h3 {
  margin: 0;
  font-size: 16px;
}

.navbar .log-out p {
  width: 60px;
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  color: red;
}

.navbar .log-out p:hover {
  color: #272343;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

/* .navbar .pfp img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
} */

.navbar .cart {
  width: 40px;
  height: 40px;
  margin-right: 1.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #272343;
  position: relative;
  cursor: pointer;
}

.navbar .cart-count {
  padding: 0px 6px;
  background-color: #fffffe;
  color: #272343;
  border: 1px solid #272343;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.navbar .cart:hover {
  background-color: #272343;
  color: #fffffe;
}
